<footer class="container small-text">
  <hr>
  <div class="row">
    <div class="col-12 col-md-4 text-center text-md-start"><p class="text-muted">Copyrights Creative Workers</p></div>
    <div class="col-12 col-md-4 text-center  nav justify-content-center">
      <ul class="nav align-content-center">
        <li class="btn p-0 m-0"><a href="http://www.google.com" target="_blank"
                                   class="nav-link px-2 text-muted">Privacy</a>
        </li>
        <li class="btn p-0 m-0"><a href="http://www.google.com" target="_blank"
                                   class="nav-link px-2 text-muted">Terms</a>
        </li>
        <li class="btn p-0 m-0"><a href="http://www.google.com" target="_blank"
                                   class="nav-link px-2 text-muted">Cookies</a>
        </li>
        <li class="btn p-0 m-0"><a href="http://www.google.com" target="_blank"
                                   class="nav-link px-2 text-muted">More</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 text-center text-md-end"><p class="mb-0 text-muted">Kissmybutton © {{year}}</p></div>
  </div>
</footer>
