<main class="container">
  <ng-container  *ngIf="(sourcesCallStatusSubject$ | async) as callStatus">
    <div class="d-flex" *ngIf="callStatus?.loading">
      <div *ngFor="let _ of skeletonArray" class="col-4">
        <app-card-loader></app-card-loader>
      </div>
    </div>

    <ng-container *ngIf="callStatus?.success">
      <div class="row justify-content-center justify-content-md-end py-2">
        <div class="col-12 col-md-3 m-2 m-md-0">
          <app-search (onSearchTriggered)="showFilteredList($event)"></app-search>
        </div>
        <div class="col-12 col-md-3 pb-2">
          <app-filters (filterSelected)="filterByCategory($event)"></app-filters>
        </div>
        <hr>
      </div>
      <div class="row">
        <div *ngFor="let source of sourcesSubject$ | async | pagination:activePage:elementsPerPage; trackBy: trackByFn"
             class="col-md-4">
          <app-card [inputSource]="source"></app-card>
        </div>
      </div>
      <app-pagination (pageChanged)='onPageChanged($event)'></app-pagination>
    </ng-container>
    <app-error-indicator *ngIf="callStatus?.error"></app-error-indicator>
  </ng-container>
</main>
