  <div class="justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link btn" (click)="onFirstPageClicked()"><i class="fa-duotone fa-angles-left"></i></a>
    </li>
    <li class="page-item"><a class="page-link btn" (click)="onPreviousPageClicked()"><i class="fa-solid fa-angle-left"></i></a>
    </li>
    <li class="page-item text-center">
      <input
        (blur)="onInputBlur($event)"
        size="{{inputSize}}"
        [formControl]="paginationInputControl"
        type="text"
        class="page-link d-inline-block text-center border border-1 border-white px-0 mx-0"
       ><span class="text-primary px-2"> / {{totalPaginationPages}} </span></li>
    <li class="page-item"><a class="page-link btn" (click)="onNextPageClicked()"><i class="fa-regular fa-angle-right"></i></a>
    </li>
    <li class="page-item"><a class="page-link btn" (click)="onLastPageClicked()"><i class="fa-duotone fa-angles-right"></i></a>
    </li>
  </ul>
</div>
